# CitiBike Data Cleaning: December 2023

The purpose of this notebook is to check a sample of the data we will be working with. In particular, we check for what needs to be cleaned, so that we can use the methods recursively for data from January 2023 to October 2025.

## 1. Imports

In [165]:
import numpy as np
import pandas as pd

df_1 = pd.read_csv("data/2023-citibike-tripdata/202312-citibike-tripdata/202312-citibike-tripdata_1.csv", low_memory=False)
df_2 = pd.read_csv("data/2023-citibike-tripdata/202312-citibike-tripdata/202312-citibike-tripdata_2.csv", low_memory=False)
df_3 = pd.read_csv("data/2023-citibike-tripdata/202312-citibike-tripdata/202312-citibike-tripdata_3.csv", low_memory=False)
df = pd.concat([df_1, df_2, df_3], ignore_index=True)

## 2. Overview

In [166]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2204874 entries, 0 to 2204873
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 218.7+ MB
None

In [167]:
df.isnull().sum()

ride_id                  0
rideable_type            0
started_at               0
ended_at                 0
start_station_name    1550
start_station_id      1550
end_station_name      6471
end_station_id        6471
start_lat             1550
start_lng             1550
end_lat               6452
end_lng               6452
member_casual            0
dtype: int64

In [117]:
df["start_station_id"] = pd.to_numeric(df["start_station_id"], errors="coerce")
df["end_station_id"]   = pd.to_numeric(df["end_station_id"],   errors="coerce")

start_id_name_counts = (
    df.groupby("start_station_id")["start_station_name"]
      .nunique()
      .sort_values(ascending=False)
)

start_id_name_counts.head(20)

start_station_id
3919.07    2
2733.03    1
6839.04    1
6869.06    1
6865.03    1
6860.12    1
6857.09    1
6855.02    1
6854.05    1
6850.01    1
6848.04    1
6847.05    1
6847.02    1
6842.02    1
6840.02    1
6839.10    1
6836.07    1
6801.01    1
6830.02    1
6827.11    1
Name: start_station_name, dtype: int64

In [118]:
end_id_name_counts = (
    df.groupby("end_station_id")["end_station_name"]
      .nunique()
      .sort_values(ascending=False)
)

end_id_name_counts.head(20)

end_station_id
3919.07    2
2733.03    1
6839.04    1
6869.06    1
6865.03    1
6860.12    1
6857.09    1
6855.02    1
6854.05    1
6850.01    1
6848.04    1
6847.05    1
6847.02    1
6842.02    1
6840.02    1
6839.10    1
6836.07    1
6801.01    1
6830.02    1
6827.11    1
Name: end_station_name, dtype: int64

In [124]:
start_name_id_counts = (
    df.groupby("start_station_name")["start_station_id"]
      .nunique()
      .sort_values(ascending=False)
)

start_name_id_counts.head(20)

start_station_name
1 Ave & E 110 St                   1
MacDonough St & Marcy Ave          1
Louis Nine Blvd & Intervale Ave    1
Lott St & Erasmus St               1
Loring Pl North & W 183 St         1
Lorimer St & Broadway              1
Longwood Ave & Southern Blvd       1
Longfellow Ave & E 165 St          1
Longfellow Ave & Aldus St          1
Little West St & 1 Pl              1
Lispenard St & Broadway            1
Linden St & Knickerbocker Ave      1
Linden Blvd & Nostrand Ave         1
Lincoln Rd & Ocean Ave             1
Lincoln Pl & Nostrand Ave          1
Lincoln Pl & Classon Ave           1
Lincoln Ave & E 138 St             1
Lincoln Ave & E 134 St             1
Liberty St & Broadway              1
Lexington Ave & Stuyvesant Ave     1
Name: start_station_id, dtype: int64

In [120]:
end_name_id_counts = (
    df.groupby("end_station_name")["end_station_id"]
      .nunique()
      .sort_values(ascending=False)
)

In [58]:
print(df["start_station_name"].nunique())
print(df["end_station_name"].nunique())
print(df["start_station_id"].nunique())
print(df["end_station_id"].nunique())

2134
2161
4298
2190

In [63]:
df["start_stat_id"] = pd.to_numeric(df["start_station_id"], errors="coerce").astype("float32")

In [121]:
pair_counts = (
    df.groupby(["start_station_name", "start_station_id"])
      .size()
      .reset_index(name="n")
)

In [122]:
canonical_ids = (
    pair_counts.sort_values(["start_station_name", "n"], ascending=[True, False])
               .drop_duplicates(subset=["start_station_name"])
               .rename(columns={"start_station_id": "canonical_station_id"})
               [["start_station_name", "canonical_station_id"]]
)

In [123]:
df = df.merge(canonical_ids, on="start_station_name", how="left")
df["start_station_id"] = df["canonical_station_id"]
df = df.drop(columns=["canonical_station_id"])

## 3. Imposing data types

In [168]:
# ride IDs and names → strings
for col in ["ride_id", "start_station_name", "end_station_name"]:
    if col in df.columns:
        df[col] = df[col].astype("string")
        
# station ids → numeric
for col in ["start_station_id", "end_station_id"]:
    if col in df.columns:
        df[col] = pd.to_numeric(df[col], errors="coerce")

# Categorical fields (lower memory usage)
for col in ["rideable_type", "member_casual"]:
    if col in df.columns:
        df[col] = df[col].astype("category")

# Coordinates → float32 (lower memory usage)
for col in ["start_lat", "start_lng", "end_lat", "end_lng"]:
    if col in df.columns:
        df[col] = pd.to_numeric(df[col], errors="coerce").astype("float32")

# Datetimes
for col in ["started_at", "ended_at"]:
    if col in df.columns:
        df[col] = pd.to_datetime(df[col], errors="coerce", utc=True)

In [169]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2204874 entries, 0 to 2204873
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             string
 1   rideable_type       category
 2   started_at          datetime64[ns, UTC]
 3   ended_at            datetime64[ns, UTC]
 4   start_station_name  string
 5   start_station_id    float64
 6   end_station_name    string
 7   end_station_id      float64
 8   start_lat           float32
 9   start_lng           float32
 10  end_lat             float32
 11  end_lng             float32
 12  member_casual       category
dtypes: category(2), datetime64[ns, UTC](2), float32(4), float64(2), string(3)
memory usage: 155.6 MB

## 3. Removing `start_station_id` and `end_station_id`

**Explanation**:
The CitiBike tripdata contains two ID fields:
`start_station_id`, `end_station_id`
However, these fields are not reliable identifiers, for multiple reasons:
- IDs change over time even when the station stays the same (renumbering, relocations).
- They often contain malformed values such as " " or embedded quotes.
- Many IDs are incorrectly parsed as floats, leading to artificial duplicates (e.g., 7522.02 vs '7522.02').
- A single station name frequently maps to multiple IDs, even within the same month.

**In contrast:**
- Station names and
- Coordinates (lat/lng)

Therefore, start_station_id and end_station_id should be removed from the cleaned dataset.

In [170]:
start_id_name_counts = (
    df.groupby("start_station_id")["start_station_name"]
      .nunique()
      .sort_values(ascending=False)
)

start_id_name_counts.head(20)

start_station_id
3919.07    2
2733.03    1
6839.04    1
6869.06    1
6865.03    1
6860.12    1
6857.09    1
6855.02    1
6854.05    1
6850.01    1
6848.04    1
6847.05    1
6847.02    1
6842.02    1
6840.02    1
6839.10    1
6836.07    1
6801.01    1
6830.02    1
6827.11    1
Name: start_station_name, dtype: int64

In [171]:
end_id_name_counts = (
    df.groupby("end_station_id")["end_station_name"]
      .nunique()
      .sort_values(ascending=False)
)

end_id_name_counts.head(20)

end_station_id
3919.07    2
2733.03    1
6839.04    1
6869.06    1
6865.03    1
6860.12    1
6857.09    1
6855.02    1
6854.05    1
6850.01    1
6848.04    1
6847.05    1
6847.02    1
6842.02    1
6840.02    1
6839.10    1
6836.07    1
6801.01    1
6830.02    1
6827.11    1
Name: end_station_name, dtype: int64

✅ Code to generate a clean 1-to-1 mapping
Count how many times each (name, ID) pair appears:

In [172]:
start_map = (
    df.groupby(["start_station_id", "start_station_name"])
      .size()
      .reset_index(name="n")
      .sort_values(["start_station_id", "n"], ascending=[True, False])
      .drop_duplicates(subset=["start_station_id"])
      .set_index("start_station_id")["start_station_name"]
)

end_map = (
    df.groupby(["end_station_id", "end_station_name"])
      .size()
      .reset_index(name="n")
      .sort_values(["end_station_id", "n"], ascending=[True, False])
      .drop_duplicates(subset=["end_station_id"])
      .set_index("end_station_id")["end_station_name"]
)

df["start_station_name"] = df["start_station_id"].map(start_map)
df["end_station_name"]   = df["end_station_id"].map(end_map)

In [181]:
df.dropna(subset=["start_station_id", "end_station_id"], inplace=True)

In [173]:
start_id_name_counts = (
    df.groupby("start_station_id")["start_station_name"]
      .nunique()
      .sort_values(ascending=False)
)

start_id_name_counts.head(20)

start_station_id
2733.03    1
6876.04    1
6869.10    1
6869.06    1
6865.03    1
6860.12    1
6857.09    1
6855.02    1
6854.05    1
6850.01    1
6848.04    1
6847.05    1
6847.02    1
6842.02    1
6840.02    1
6839.10    1
6839.04    1
6836.07    1
6830.02    1
6827.11    1
Name: start_station_name, dtype: int64

In [174]:
end_id_name_counts = (
    df.groupby("end_station_id")["end_station_name"]
      .nunique()
      .sort_values(ascending=False)
)

end_id_name_counts.head(20)

end_station_id
2733.03    1
6873.01    1
6869.06    1
6865.03    1
6860.12    1
6857.09    1
6855.02    1
6854.05    1
6850.01    1
6848.04    1
6847.05    1
6847.02    1
6842.02    1
6840.02    1
6839.10    1
6839.04    1
6836.07    1
6830.02    1
6827.11    1
6825.03    1
Name: end_station_name, dtype: int64

In [182]:
df.isnull().sum()

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
dtype: int64

In [ ]:
# OLD CODE BELOW FOR REFERENCE
import pandas as pd

# Demonstrate unreliability of station_id fields:
print("Unique start_station_id:", df["start_station_id"].nunique())
print("Unique start_station_name:", df["start_station_name"].nunique())

mapping = (
    df.groupby(["start_station_name", "start_station_id"])
      .size()
      .reset_index(name="count")
)

#print(mapping.head(10))

# Result: The same station name appears with multiple station IDs,
# and many IDs contain trailing quotes or malformed values.

df = df.drop(columns=["start_station_id", "end_station_id"])

Unique start_station_id: 2222
Unique start_station_name: 2134

## 4. Removing observations with missing `start_lat` and `start_lng`

**Explanation**:

If a ride is missing both start_lat and start_lng, then:
- There is no start location in any form (station name and id are also always missing in these rows)
- The observation is unusable for spatial analysis
- It cannot be mapped, assigned to a zip code, or used for risk modeling

No imputation is possible (no coordinates, no station name, no station ID)

In [176]:
missing_start = df[df["start_lat"].isna() & df["start_lng"].isna()]
print("Missing start coords:", len(missing_start))

# Drop these rows:
df = df.dropna(subset=["start_lat", "start_lng"])

Missing start coords: 1550

## 5. Removing observations with missing `end_lat` and `end_lng`

**Explanation**:

Similarly, if end_lat and end_lng are both missing:
- There is no end location (end_station_name and end_station_id are always missing here)
- The trip endpoint is completely unknown
- You cannot compute distance, assign crash exposure, or perform any geospatial analysis

Note: _These represent ~0.3% of trips in December 2023 — a negligible amount to drop._

In [177]:
missing_end = df[df["end_lat"].isna() & df["end_lng"].isna()]
print("Missing end coords:", len(missing_end))

# Drop these:
df = df.dropna(subset=["end_lat", "end_lng"])

Missing end coords: 5643

## 6. Handling remaining missing `*_station_name` values

**Eplanation**:

After removing corrupted rows, the only remaining missing station names are:
- end_station_name missing (but end coordinates exist)

Because:
- They have valid coordinates
- They contribute meaningfully to spatial exposure, distance estimation, endpoint clustering, etc.

→ It is incorrect to drop these observations.

Since these trips do not have a station, the correct label for station name is: `Unknown`

In [179]:
# Count remaining missing names
remaining_missing = df["end_station_name"].isna().sum()
print("Missing end_station_name (with coordinates present):", remaining_missing)

# Replace NaN with "Unknown"
df["start_station_name"] = df["start_station_name"].fillna("Unknown")
df["end_station_name"] = df["end_station_name"].fillna("Unknown")

Missing end_station_name (with coordinates present): 478

## 7. Final cleaned data

In [129]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 2197042 entries, 0 to 2204873
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             string
 1   rideable_type       category
 2   started_at          datetime64[ns, UTC]
 3   ended_at            datetime64[ns, UTC]
 4   start_station_name  string
 5   start_station_id    float64
 6   end_station_name    string
 7   end_station_id      float64
 8   start_lat           float32
 9   start_lng           float32
 10  end_lat             float32
 11  end_lng             float32
 12  member_casual       category
dtypes: category(2), datetime64[ns, UTC](2), float32(4), float64(2), string(3)
memory usage: 171.8 MB

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,5301271E68E18BA4,electric_bike,2023-12-09 14:36:16.912000+00:00,2023-12-09 14:48:13.919000+00:00,Watts St & Greenwich St,5578.02,W 4 St & 7 Ave S,5880.02,40.724056,-74.009659,40.734013,-74.002937,casual
1,DE4CC2FEB483AE3A,electric_bike,2023-12-13 09:50:39.182000+00:00,2023-12-13 10:13:01.348000+00:00,Underhill Ave & Lincoln Pl,4042.08,Plaza St East & Flatbush Ave,4010.01,40.674011,-73.967148,40.673134,-73.969109,casual
2,0C67D9174CBDE2D0,electric_bike,2023-12-02 13:00:29.094000+00:00,2023-12-02 13:33:22.654000+00:00,W Broadway & Spring St,5569.06,Central Park W & W 103 St,7577.27,40.724945,-74.001656,40.795589,-73.961884,casual
3,BDB5F8E57AF7CC70,classic_bike,2023-12-08 11:09:49.012000+00:00,2023-12-08 11:11:21.778000+00:00,Ave A & E 11 St,5703.13,E 11 St & 1 Ave,5746.14,40.728546,-73.981758,40.729538,-73.984268,member
4,599A6C20123BED9D,electric_bike,2023-12-06 10:12:58.286000+00:00,2023-12-06 10:19:12.479000+00:00,Ave A & E 11 St,5703.13,Lafayette St & Jersey St,5561.06,40.728546,-73.981758,40.724560,-73.995651,casual

In [130]:
df.isnull().sum()

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
dtype: int64

In [48]:
df["start_station_name"].nunique(), df["end_station_name"].nunique()

(2134, 2161)

In [49]:
df["new_start_station_name"] = df["start_station_name"].str.replace(r"\s+", " ", regex=True).str.lower().str.strip()
df["new_end_station_name"] = df["end_station_name"].str.replace(r"\s+", " ", regex=True).str.lower().str.strip()
df["new_start_station_name"].nunique(), df["new_end_station_name"].nunique()

(2134, 2161)

In [65]:
import urllib.request, json 
import pandas as pd
# from pandas.io.json import json_normalize

with urllib.request.urlopen('https://gbfs.citibikenyc.com/gbfs/en/station_information.json') as url:
    data = json.loads(url.read().decode())

In [69]:
data["data"]["stations"][0]

{'station_type': 'classic',
 'rental_methods': ['KEY', 'CREDITCARD'],
 'region_id': '71',
 'capacity': 21,
 'name': 'E New York Ave & Troy Ave',
 'short_name': '3680.04',
 'lat': 40.66227,
 'electric_bike_surcharge_waiver': False,
 'eightd_station_services': [],
 'eightd_has_key_dispenser': False,
 'external_id': '2c8b263e-952c-4941-a671-ef0ebb062632',
 'rental_uris': {'ios': 'https://bkn.lft.to/lastmile_qr_scan',
  'android': 'https://bkn.lft.to/lastmile_qr_scan'},
 'lon': -73.93762,
 'has_kiosk': True,
 'station_id': '2c8b263e-952c-4941-a671-ef0ebb062632'}

In [73]:
data.keys()

dict_keys(['data', 'last_updated', 'ttl', 'version'])

In [77]:
stations = pd.DataFrame(data["data"]["stations"])

In [78]:
stations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2310 entries, 0 to 2309
Data columns (total 15 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   station_type                    2310 non-null   object
 1   rental_methods                  2310 non-null   object
 2   region_id                       2300 non-null   object
 3   capacity                        2310 non-null   int64
 4   name                            2310 non-null   object
 5   short_name                      2310 non-null   object
 6   lat                             2310 non-null   float64
 7   electric_bike_surcharge_waiver  2310 non-null   bool
 8   eightd_station_services         2310 non-null   object
 9   eightd_has_key_dispenser        2310 non-null   bool
 10  external_id                     2310 non-null   object
 11  rental_uris                     2310 non-null   object
 12  lon                             2310 non-null   float64
 13  has_kiosk                       2310 non-null   bool
 14  station_id                      2310 non-null   object
dtypes: bool(3), float64(2), int64(1), object(9)
memory usage: 223.5+ KB

In [79]:
stations["short_name"].nunique()

2310

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2204874 entries, 0 to 2204873
Data columns (total 14 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
 13  start_stat_id       float32
dtypes: float32(1), float64(4), object(9)
memory usage: 227.1+ MB

In [86]:
df["start_station_id"].nunique()

4298

In [93]:
mask = df["start_station_id"].astype("str").isin(stations["short_name"])

In [94]:
df[~mask]

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
51,C110098C96C7AD22,classic_bike,2023-12-08 19:55:48.207,2023-12-08 20:14:42.829,Grand Army Plaza & Central Park S,6839.10,E 84 St & 1 Ave,7180.02,40.764397,-73.973715,40.775655,-73.950686,member
135,050CBFDF6F040037,electric_bike,2023-12-08 18:28:13.534,2023-12-08 18:33:51.292,Lafayette Ave & Classon Ave,4452.01,Lafayette Ave & Ft Greene Pl,4470.09,40.689004,-73.960239,40.687002,-73.976650,member
604,E4F2B8DB4838348C,electric_bike,2023-12-12 20:49:31.939,2023-12-12 20:59:42.414,1 Ave & E 39 St,6303.01,E 20 St & 2 Ave,5971.08,40.747140,-73.971130,40.735877,-73.982050,member
606,5E63C51D674503FB,classic_bike,2023-12-10 11:46:44.988,2023-12-10 11:49:14.398,1 Ave & E 39 St,6303.01,FDR Drive & E 35 St,6230.04,40.747140,-73.971130,40.744219,-73.971212,member
609,C2C69FE4702C8989,classic_bike,2023-12-09 13:14:59.188,2023-12-09 13:20:44.182,1 Ave & E 39 St,6303.01,FDR Drive & E 35 St,6230.04,40.747140,-73.971130,40.744219,-73.971212,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2204775,BC6B81624DE933B4,electric_bike,2023-12-14 19:24:47.210,2023-12-14 19:27:22.492,E 88 St & Park Ave,7293.1,E 84 St & Park Ave,7243.04,40.781411,-73.955959,40.778627,-73.957721,member
2204776,72F09288D0882EBA,classic_bike,2023-12-23 13:29:32.109,2023-12-23 13:44:25.254,Lafayette Ave & Classon Ave,4452.01,Metropolitan Ave & Bedford Ave,5308.04,40.689004,-73.960239,40.715348,-73.960241,member
2204802,E39FB7340A0192D0,electric_bike,2023-12-19 18:00:15.828,2023-12-19 18:08:07.079,Broadway & W 51 St,6779.04,12 Ave & W 40 St,6765.01,40.762288,-73.983362,40.760875,-74.002777,member
2204834,911D0AFD6897A87E,electric_bike,2023-12-15 17:15:56.355,2023-12-15 17:25:36.311,Broadway & W 51 St,6779.04,12 Ave & W 40 St,6765.01,40.762288,-73.983362,40.760875,-74.002777,casual
2204870,B7446D2C508F4866,classic_bike,2023-12-30 17:36:53.064,2023-12-30 17:41:48.918,E 81 St & 1 Ave,7121.13,E 84 St & Park Ave,7243.04,40.773778,-73.951973,40.778627,-73.957721,member

In [96]:
x = df.groupby("start_station_id")["start_station_name"].nunique()

In [98]:
df[df["start_station_id"] == "3919.07"]["start_station_name"].unique()

array(['Eastern Pkwy & Franklin Ave',
       'Eastern Pkwy & Franklin Ave (NE Corner)'], dtype=object)

In [99]:
df["test"] = pd.to_numeric(df["start_station_id"], errors="coerce").astype("float32")

In [102]:
stations["sn"] = pd.to_numeric(stations["short_name"], errors="coerce").astype("float32")

In [103]:
stations.dropna(subset=["sn"], inplace=True)

In [108]:
aa = pd.to_numeric(df["start_station_id"], errors="coerce").unique()

In [113]:
aa

array([5578.02, 4042.08, 5569.06, ..., 6028.01, 3877.04, 8772.06],
      shape=(2104,))

In [112]:
stations["sn"].values

array([3680.04, 2009.04, 5074.08, ..., 6915.02, 8381.04, 6932.14],
      shape=(2213,), dtype=float32)

In [111]:
sum = 0
for a in aa:
    if a not in stations["sn"].values:
        print(a)
        sum += 1
print("Total unmatched station IDs:", sum)

5578.02
4042.08
5569.06
5703.13
5779.1
5746.02
4843.01
5414.06
5561.04
6004.07
6989.07
6893.1
5476.03
6617.09
5769.06
4895.03
7235.13
6517.08
7032.06
5679.05
4175.15
6593.14
5297.02
6854.05
7634.01
3865.05
7967.04
6839.1
6958.06
4620.02
3922.02
5721.07
6450.12
4074.14
8072.06
8152.03
6429.01
7304.08
5273.01
6361.03
5419.04
4298.05
4513.06
3620.02
5515.02
6926.01
5805.07
7098.05
6004.06
6422.08
6584.12
5489.03
5779.08
5335.03
6072.11
4190.06
6089.07
4479.06
4452.01
7059.08
5550.05
7144.02
7879.01
4446.03
5820.08
4812.02
6726.01
8319.01
6432.11
6551.11
4904.03
7386.1
7688.12
5779.11
5880.02
5500.02
4470.09
6644.08
5545.01
5561.06
8000.02
5746.14
4010.01
6441.01
8110.04
5433.03
5545.04
3439.03
4225.14
4446.01
7202.07
6319.07
4656.03
8306.03
6676.02
7577.27
8048.04
7028.04
7180.02
5321.08
8196.02
4196.05
3172.01
4107.13
6765.01
5308.04
5422.09
6904.06
6306.01
6190.08
3919.07
5730.08
6847.02
6115.09
4010.13
6331.01
6860.12
5198.04
4336.01
4263.12
5259.06
5114.06
6492.04
5093.01
3379.03
4095.03
5033.01
3871.02
3779.02
5175.08
4883.03
6405.03
7610.13
4327.09
5572.07
8138.07
4507.07
7648.16
6509.07
5922.04
7057.07
7175.05
5520.09
3839.02
4467.03
7538.14
4718.08
8703.05
5057.07
6323.04
5669.1
6700.01
5569.07
6303.01
7463.09
3408.05
4962.08
6416.06
5636.13
5065.1
7595.17
7286.01
3696.05
5666.04
4116.08
4587.02
4993.02
7281.09
7735.05
4821.1
6251.06
6398.08
4784.02
5602.06
4781.05
4266.03
7126.01
6763.08
7020.02
5262.09
6307.07
4645.04
3893.03
7823.03
6759.15
5288.08
3704.01
3121.01
6771.13
6257.03
6626.01
8782.01
7256.01
7443.01
5659.11
7954.12
6827.11
4339.01
7650.05
3011.03
7522.02
6459.07
6188.04
7039.03
6209.05
5763.03
4628.05
5436.09
6819.15
5368.03
7052.01
4956.02
7580.01
8156.03
4812.04
6451.07
7851.04
4172.04
8107.1
7692.11
3507.04
8897.05
4677.06
7128.08
7034.09
6425.04
4392.04
3448.02
7504.18
6650.07
7511.19
8085.13
3022.01
7567.06
8104.1
4208.01
5854.1
6079.03
5696.03
6551.02
6138.02
3376.02
5195.06
6332.06
5914.08
6662.09
5406.04
5532.01
4437.09
8795.01
7032.02
5470.02
5190.07
7658.13
7288.04
3117.05
5114.08
8285.11
4016.03
6518.08
4994.1
7271.01
5484.09
6215.04
5406.02
5379.1
6190.03
4546.04
4748.07
6795.01
7685.14
4441.06
5134.09
6735.03
4199.13
4936.21
7178.02
8021.11
3771.06
8425.01
6542.05
7538.18
5471.04
2733.03
7898.03
4617.01
5869.04
4789.03
6248.08
5626.13
6039.06
4057.04
4522.07
4982.02
4366.01
5593.01
5300.05
4637.07
4768.02
3344.02
6364.1
8379.07
3625.07
6022.04
5755.09
4895.09
6884.03
4371.01
5374.01
3911.05
4519.02
3856.03
6810.01
3520.01
8752.01
6089.08
3303.03
7868.05
4001.09
5076.04
6171.02
5065.14
3211.06
7713.01
5270.05
6098.12
5593.02
5436.11
4531.05
6907.03
6313.1
5288.09
4611.03
5947.04
6718.02
4413.08
5676.04
7617.07
3341.06
5500.07
4196.01
6659.09
4500.07
6339.06
4965.01
6711.13
6563.12
6991.12
7286.05
5291.05
6839.04
3882.05
5002.09
5051.02
6332.09
3914.02
7727.08
8815.01
4648.03
3811.05
4060.09
8344.09
7876.07
6750.16
6134.13
6855.02
4724.03
5929.01
7458.03
5342.1
6373.07
5872.1
6927.03
7414.17
7682.01
6535.04
7170.04
8123.06
7119.04
7640.04
7599.09
6943.07
3180.09
6847.05
6737.03
6996.01
7365.08
4987.06
6994.06
8157.06
4732.04
7737.06
3515.01
8358.03
8353.09
7735.23
5159.07
6398.06
4600.09
6115.06
5382.06
7327.01
5955.12
5148.03
5920.03
5542.04
4735.16
7774.02
6915.02
8575.02
6729.02
5164.05
6498.1
5509.02
6575.03
7212.05
6691.11
5210.01
7484.05
6809.09
4125.07
6206.08
8639.01
7382.04
5159.04
4818.03
7204.08
4278.03
7132.08
4419.03
5944.01
3223.07
4829.01
5137.11
7800.03
3946.07
6493.03
4962.02
6365.1
6700.14
4255.05
5453.05
6441.06
3420.01
7161.08
4543.07
6137.04
8133.08
5270.08
4386.05
7528.31
8278.05
5470.1
5267.08
7767.06
8766.03
5123.07
4246.02
3359.01
3426.02
3739.06
5623.03
3791.02
4446.05
5371.07
6464.08
5442.05
5847.06
7981.16
6782.01
6953.08
4971.01
nan
6585.11
8819.05
2984.04
7726.02
4066.15
6806.06
6046.02
6740.01
5553.03
3996.01
5838.09
4861.05
7047.07
4375.02
4455.11
6762.04
6966.04
6533.02
6283.05
4873.08
3034.02
7018.01
8099.04
5971.09
4425.02
6030.04
6526.05
5863.07
5712.12
4222.02
6464.09
6098.02
5068.02
6179.07
8828.02
3327.01
7340.06
7571.01
6727.02
8194.06
5506.1
8118.02
6140.05
3776.05
6935.01
5616.08
6224.03
6740.1
4169.04
4519.04
4771.07
6747.06
4214.04
7888.1
5550.09
4096.08
4497.09
7311.07
6602.03
3762.08
6779.05
5584.05
7436.11
4665.02
3164.04
5653.12
5712.03
6617.02
5267.09
7942.07
4968.03
5025.02
5351.03
8715.01
4993.13
5953.03
6873.01
4821.06
3639.04
3617.02
3975.02
6732.01
5065.04
7084.12
6717.06
3842.08
7092.06
4120.02
6756.05
6925.09
3657.06
6948.1
6955.01
4452.03
4019.06
8811.01
7981.27
4404.1
7896.11
3038.08
7627.1
6747.07
5204.05
5788.15
6379.03
5450.04
7260.09
6545.07
7342.01
4434.06
7082.08
5276.04
6486.07
3376.04
4148.07
5051.01
4985.09
5721.14
6157.04
6173.08
7979.17
6520.07
6233.05
6560.15
5303.06
7391.02
4697.01
6247.06
6572.08
3555.04
4895.15
3665.06
4175.14
4781.03
3731.11
7121.13
6561.01
8163.05
4122.03
4756.04
6435.02
6092.01
5721.01
5755.14
5340.01
6019.04
4762.04
6896.16
6611.02
3148.08
6356.01
4628.07
4801.04
6151.03
4119.04
3214.04
3180.02
6578.01
7886.02
5905.12
6364.07
7602.05
6526.01
6055.08
5391.06
7488.24
5216.06
3707.01
6912.01
4437.01
3648.08
7723.01
7407.13
3668.04
8456.02
7049.04
4134.06
4846.01
4659.02
4651.02
5348.02
5024.1
3660.07
5125.03
3233.06
7023.09
5216.04
6951.03
5045.05
6887.03
7662.13
5613.04
4342.04
6614.01
4325.03
6323.11
6098.1
6876.04
6281.01
5453.01
7059.01
5359.11
6300.04
5059.02
5178.06
7855.03
4850.04
5503.01
6865.03
3902.06
8428.05
6603.07
7971.07
8546.06
8052.02
7100.07
7354.01
5989.02
5997.1
6432.1
6629.06
6626.11
6608.09
6809.07
5359.12
5303.08
5896.01
6762.02
6830.02
8254.01
5964.01
5105.01
4680.05
4416.1
4614.04
7284.01
7314.03
5219.05
7311.02
4729.01
5860.02
6929.01
7903.02
3874.01
8682.06
5225.02
6920.03
4010.15
4637.06
6611.07
3905.15
8535.01
7753.13
5359.13
3347.03
4077.07
3280.04
6072.16
5938.11
4847.03
5854.09
4479.1
3538.09
7141.07
6471.02
7243.04
4996.08
6923.2
7626.02
6080.07
6527.07
3960.01
6679.11
6064.08
5335.07
5001.08
4377.04
6667.04
8218.04
7123.04
5593.04
6146.01
4354.05
3492.04
6816.07
4055.04
5411.07
5977.01
5430.08
7845.06
5099.03
6594.02
6258.02
6209.08
7014.12
4231.04
6955.05
4488.08
6560.01
4461.01
5805.05
5414.07
7587.16
3368.04
7606.01
4025.02
5181.04
7023.04
7082.14
3353.04
8665.09
4214.03
8586.09
6932.15
4101.17
3394.03
4033.16
6998.08
6239.08
5636.11
4596.09
7646.04
6779.04
5250.05
6174.03
5644.05
5329.03
6459.04
3736.03
5247.1
7840.05
7293.1
4762.05
4077.04
7703.14
6258.03
5065.12
8613.09
6569.08
4634.02
4792.03
6134.03
6289.06
5241.02
7636.05
4051.01
6498.09
5616.01
7623.13
6569.07
5403.04
4253.02
3882.01
7265.1
4428.02
4700.06
6621.06
3564.04
5442.09
7707.08
8441.05
8590.01
4927.04
6638.01
7146.04
3385.06
7409.04
4199.12
5610.09
6850.01
4345.11
5411.08
3853.02
7453.01
5473.03
4322.06
6748.04
7783.18
6345.08
6659.01
4151.01
5826.02
5187.03
5190.09
7149.05
5433.04
6654.05
4939.07
4962.01
5145.02
6937.07
4217.06
6164.09
4553.04
6627.12
5351.07
5128.04
5922.08
7286.02
5772.05
6682.08
7009.06
4202.04
3593.01
3070.04
3680.04
7631.23
3272.01
6960.12
7344.01
5445.02
6382.05
6756.01
4510.04
4727.06
4089.01
3887.03
8362.09
7541.01
6422.09
7910.1
6723.1
5288.12
5379.09
6814.01
7253.04
8081.01
4354.07
3157.08
7992.04
4193.14
8734.04
5137.1
6014.01
4692.01
5117.05
5470.12
8384.03
4751.01
4517.03
7884.04
5184.08
5489.06
7188.1
5687.04
4107.05
6213.01
5388.01
7188.13
5458.02
7116.04
4494.04
6280.12
6890.01
3834.1
7910.01
8216.02
7619.05
5004.02
6218.04
6020.02
3230.01
7976.08
7932.1
4818.02
7079.06
7520.07
7152.1
4546.05
7456.03
6414.07
8748.02
6495.17
6842.02
7962.01
4759.02
5099.02
7003.06
5581.01
3286.07
4528.01
4689.08
4137.1
7363.04
4513.09
8732.04
5362.08
3728.04
4945.06
7579.11
8183.02
4713.01
3400.04
5887.03
6460.06
3199.01
6433.01
6207.06
6490.02
3688.06
6170.02
5053.01
3742.11
8084.03
7696.07
4362.04
5902.07
6322.01
6266.06
5230.02
3460.05
6569.09
4990.02
6030.06
7393.09
4217.02
5115.05
7524.09
5656.03
6529.02
8085.05
3782.03
8206.17
4824.03
6390.05
5752.09
4243.01
8226.06
5794.05
7893.05
6645.06
8579.03
8387.03
5709.03
4450.06
8229.04
4187.04
8707.01
7670.09
7756.1
4458.06
7066.01
2782.02
4098.06
3934.07
7803.02
7625.18
5167.06
5473.06
4474.01
6276.02
3431.02
8362.02
4963.13
7920.05
4947.04
3719.02
6766.03
5633.04
7795.09
4550.05
8366.07
7759.08
2898.01
4526.01
3625.04
4031.05
5300.06
4954.07
7009.02
6462.05
4166.08
5983.04
4399.03
4889.06
4687.03
6457.06
6260.04
3547.04
7207.08
8213.01
6475.07
6358.05
3885.06
6334.03
3966.01
6524.01
6804.01
6227.02
3056.05
8299.03
4645.09
7701.21
4890.11
7655.22
7870.02
6383.06
7450.05
6143.05
7738.04
5329.08
3585.06
3460.02
8149.09
3220.01
6264.06
3463.01
6688.01
5481.04
5282.02
8679.03
4816.05
5558.04
8720.02
8005.03
6969.08
8635.08
4237.02
7669.1
6587.04
4483.1
4154.02
5097.02
3943.03
8650.11
8092.06
8866.01
4765.07
4596.05
3263.01
8065.13
6581.14
3148.09
6116.03
7748.02
3350.04
8583.02
8397.02
6552.07
8041.07
4128.08
7599.02
6757.03
7909.07
5400.05
4301.07
4307.13
4028.03
7777.02
6392.02
6292.03
8356.02
6964.05
4072.02
5785.1
8114.02
7026.08
8738.01
3950.03
7657.03
6122.09
6798.01
7741.01
8353.02
5369.01
5170.01
4735.03
2883.03
8467.03
6677.03
6599.01
3862.07
7937.15
8060.01
5847.01
6089.11
6593.15
5886.13
3651.04
7712.04
5626.15
3599.01
6786.02
5788.13
5270.09
7388.1
6389.09
6505.09
6889.12
5905.14
5980.07
5669.12
5430.1
6538.11
4914.03
6197.08
5217.03
4898.02
5018.06
6224.06
6662.01
5788.12
4461.04
5626.07
6720.07
5914.03
6890.06
5343.11
6072.06
6131.13
4640.01
3831.03
5235.1
5382.07
5971.08
6306.06
5659.05
5553.1
5584.04
5125.07
6602.05
5736.09
5108.01
5506.14
4368.05
6297.08
6310.06
5323.06
3847.04
6605.08
7935.07
4310.06
7113.08
5755.01
6143.01
6499.06
3759.07
7712.06
8485.01
3504.02
4832.07
7835.1
7745.07
7995.04
3535.03
5235.05
5359.1
4491.09
5445.07
5279.03
4864.09
4455.1
8248.05
6817.15
6191.06
5515.08
5539.06
6541.03
7622.12
8344.04
3240.15
4721.01
6314.02
4290.06
5073.07
8427.05
8605.06
6453.02
3266.01
7915.11
5074.08
3822.08
5523.02
5679.08
6224.05
4840.06
6502.01
3710.07
6560.14
2961.05
5207.01
4677.01
7360.1
5883.06
3984.02
4576.11
5788.16
8582.09
5354.01
5956.05
6743.06
7790.04
7230.1
6013.12
8510.02
3161.02
8167.04
8262.07
5257.01
4931.05
8566.05
4301.04
6901.01
8505.08
8351.06
8491.07
7502.01
3982.01
7837.3
6101.11
8507.02
6857.09
7643.18
5579.04
5176.04
8325.08
8741.01
4695.04
8711.02
4228.06
4348.07
4853.06
8672.05
8601.04
8103.05
6603.06
8004.03
7788.13
5156.05
8096.02
6450.05
5010.02
7704.04
4157.1
8009.05
6148.02
6774.13
8500.01
7983.02
7154.07
5785.05
8494.06
6297.07
7323.09
4181.1
5797.01
5238.05
6801.01
5365.02
4140.03
2832.03
5036.06
6182.02
8249.1
8069.01
6741.03
3090.06
7865.09
5688.02
4039.04
8179.03
4422.04
4105.01
8172.07
4137.14
8474.02
5930.02
4821.03
6824.07
8226.05
4007.01
8707.04
3934.06
7957.11
6423.03
6286.02
4906.07
8236.01
7713.11
4220.02
5326.06
3978.13
4395.07
6932.14
8068.01
8597.01
6076.02
4146.02
8089.05
6141.02
8186.01
6371.03
3523.06
6016.06
6329.06
8514.05
7432.09
6659.1
6242.1
3495.08
3751.05
6399.06
4689.03
6554.05
7111.1
7291.06
4993.15
7344.05
5021.05
7611.02
8502.04
4807.02
5096.12
3768.02
7159.08
7720.03
8435.04
5938.01
6483.06
4683.02
6435.03
3814.01
3993.03
6659.03
8144.09
6203.02
3192.05
4933.03
5548.01
6644.07
6708.04
5489.04
4565.07
5160.01
6532.06
4903.08
6733.01
3312.07
3628.11
5332.1
4476.03
6215.07
6474.11
8745.01
4432.1
8734.02
3125.09
8044.09
8167.02
6176.11
7769.06
8018.09
7853.01
8403.02
5140.06
6131.12
6352.01
6822.09
4131.03
6668.06
7183.03
6058.08
6441.02
6290.06
5752.07
8653.09
8290.01
8036.05
6651.01
7945.03
8076.08
6107.08
5453.06
6664.05
7680.03
5570.04
5492.05
7524.16
4028.04
6753.08
5403.05
7652.04
4663.06
7074.01
4383.06
8111.04
5806.01
4534.06
6155.03
8265.09
6185.04
3728.05
4319.07
3917.03
4334.02
6230.04
4804.02
5922.07
3928.08
3704.04
5027.02
7840.11
5666.11
4281.08
4228.02
4608.01
4979.07
4668.08
8428.04
8465.01
4837.03
8325.12
6981.16
7642.04
4715.01
7814.01
3588.01
8064.03
6185.07
6062.03
7832.04
7959.18
8802.05
7062.07
4560.01
8160.03
8018.04
5764.02
8756.07
8141.05
3166.03
8013.07
4408.07
6325.01
3987.06
3300.04
3593.1
6670.03
8126.07
7137.04
7186.15
6692.03
3972.08
3552.09
8057.02
8778.01
8649.03
3498.09
3596.04
7687.05
8100.01
4732.08
7997.08
4707.04
8835.05
7443.17
7196.04
6448.07
7365.13
4249.1
8327.15
6380.1
5450.01
6319.01
6254.06
8550.04
3256.04
8272.01
8430.03
6417.11
8205.05
8528.05
6840.02
8108.02
4080.01
4856.05
8616.06
8615.01
3202.06
8212.01
7918.12
6869.06
7755.03
7860.08
4953.04
5270.07
8029.28
5082.08
5575.13
4605.04
3699.07
3879.04
5084.03
3966.03
8571.02
4237.01
3457.03
6108.03
2923.01
4826.04
7872.03
3952.07
3633.08
4113.01
3208.07
6970.02
8281.06
8415.01
6701.05
8555.05
7945.07
8494.01
8472.08
6812.06
7744.06
4568.01
3294.03
8182.02
8190.03
5431.01
8052.01
6596.1
6442.08
6709.05
8394.15
3981.1
3940.04
7432.04
3451.01
7579.01
8303.06
7891.06
8285.09
4179.03
3480.04
4798.02
6612.09
3576.1
6298.04
8756.03
6225.03
8520.01
6113.07
8016.07
3359.03
4912.1
6212.08
6682.03
8699.01
6033.01
8489.06
8558.01
8194.07
6123.02
7716.19
6346.02
8315.03
8483.02
8624.01
5043.06
3803.09
7803.08
7984.04
4048.03
8156.01
3999.06
8316.02
8241.07
7901.04
8095.06
4086.06
8226.07
7068.07
3722.04
6836.07
5392.04
6520.06
3178.02
4170.08
6978.04
8550.01
8209.01
5851.01
8122.04
5510.05
7807.04
4663.02
4110.1
6314.09
8667.01
8088.01
7952.02
7940.02
5422.04
5138.03
8020.01
8277.03
3306.03
3991.04
7751.05
7338.02
4366.1
7540.02
4095.1
3608.06
5575.08
3246.06
8441.01
4582.08
8646.02
7940.04
7618.01
4743.04
8171.06
7991.01
6183.03
8040.03
6949.03
8048.01
8619.02
8526.03
6240.05
8061.01
5956.04
5917.02
4261.03
7863.03
7970.05
8129.02
6001.01
5881.01
7741.04
8717.07
5034.03
6636.04
4064.03
4086.05
4880.11
7809.13
5540.06
6609.03
4903.09
3803.05
8407.03
8096.03
6401.03
4138.04
8399.06
4184.07
6656.05
7793.02
4244.06
3611.02
4632.1
7927.08
7504.19
8137.06
8307.05
4707.03
2912.08
6290.13
7691.05
6090.03
5923.02
3382.04
8392.02
3007.05
2932.03
5090.06
7820.05
3579.04
7881.09
7233.05
8115.01
8336.02
5992.02
4317.05
2821.05
8636.04
8579.05
4654.01
4129.1
6212.04
8320.01
6511.03
3454.01
3318.05
7858.02
4775.01
3135.04
8632.07
6231.01
6514.08
6408.08
5199.01
4285.09
7821.01
3253.01
3925.03
5743.02
7563.06
8242.04
7974.01
8145.03
6200.03
3315.05
8458.03
6395.01
4330.09
4422.05
8369.08
5129.01
7844.05
8269.01
8795.03
8348.02
4719.04
8323.05
8033.09
6287.02
4374.01
8478.11
4258.07
4205.06
5779.09
6879.04
3472.03
8511.08
8049.05
3140.09
7818.17
7575.01
3138.09
8183.08
8676.01
4143.04
8692.04
3155.01
8532.03
3050.03
8472.06
3309.04
7543.15
7948.1
3093.07
6276.05
5066.03
8008.03
8366.06
8233.01
5115.01
7667.04
7842.16
7816.14
8416.07
8175.06
8462.09
8252.03
7798.02
8225.05
4590.01
8119.05
6037.02
8187.04
7812.01
8381.04
8077.07
6128.04
4920.13
6536.02
8451.07
8130.02
2872.02
4357.01
8453.14
8005.08
5168.04
8432.11
8806.01
8655.02
7942.21
8198.05
6848.04
2951.05
7781.1
6273.03
5146.03
3850.03
8054.04
6056.02
8049.1
8579.09
4161.01
6249.02
8563.06
8496.01
3113.1
7925.04
6316.05
3931.09
5106.04
8799.01
5057.09
5945.01
3356.07
6165.06
3187.01
3229.07
6234.04
8025.01
6096.01
8356.04
8085.09
7849.1
3486.02
6465.04
7883.06
8346.06
8786.01
8416.1
8245.03
3188.04
3132.09
3460.01
6025.08
6222.04
6198.03
8330.05
3113.06
5731.03
6099.02
3243.02
7163.07
4816.02
6105.02
8664.06
6167.03
5510.02
6468.01
6158.06
4380.08
5440.05
2861.02
8358.1
6417.04
4054.06
7740.08
5360.02
6237.01
8191.01
4293.05
8776.02
8024.05
3000.08
4615.01
7922.01
3567.05
5225.04
6047.03
6877.06
5579.02
7913.15
6349.03
4623.02
3046.03
8547.04
4087.01
6709.01
6234.01
7966.02
3512.03
4672.01
6570.06
4591.04
6067.01
7931.05
7867.04
8469.05
3532.02
4871.02
6905.02
8111.07
7722.06
6110.01
7654.04
8715.06
3388.02
8080.01
7830.03
4921.04
8543.01
6401.01
3845.05
4862.04
6340.09
4830.02
6005.04
6567.03
4212.01
6877.05
4757.06
3205.06
4023.05
6191.04
8012.04
5998.09
6158.02
3087.01
8665.02
4862.07
6576.07
5987.03
7210.07
6772.11
6267.08
8643.01
3544.02
4014.01
6579.03
3391.1
2971.02
4798.1
8859.03
6869.1
8631.03
7987.14
7613.04
5401.03
5248.05
3278.07
6703.06
8153.1
8879.03
3428.04
6683.01
7060.02
6618.02
6660.07
8257.03
6337.09
8374.02
4977.03
8849.03
8582.02
4023.01
6787.02
4054.02
6426.05
6374.05
6825.03
5409.02
5611.05
5611.04
5501.06
8293.12
6149.02
5289.05
8862.02
8876.04
3019.03
3084.05
8879.02
6053.01
8210.01
6216.01
8841.03
3300.06
3526.04
8272.08
6295.07
7639.06
4440.02
7220.01
6921.04
6304.04
8535.09
8559.04
6566.01
8831.03
8268.08
3283.05
8410.1
6885.01
6913.03
8335.02
6660.05
6642.08
7883.09
7719.13
8539.02
7905.05
6180.05
8647.1
8696.05
7983.04
6724.01
3019.02
6941.03
8284.01
8447.07
3958.02
6255.02
6070.05
5878.02
6793.01
4124.04
6524.09
8541.04
5687.11
5845.02
4116.09
6319.03
4157.15
5829.12
6104.01
3129.08
6319.04
6194.06
6245.08
6119.01
6197.11
6278.05
6438.04
7165.01
3919.12
5280.03
3335.09
3169.07
6028.01
3877.04
8772.06
Total unmatched station IDs: 2104