In [2]:
import numpy as np
import pandas as pd

In [8]:
df = pd.read_csv("data/2023-citibike-tripdata/202312-citibike-tripdata/202312-citibike-tripdata_2.csv")

/var/folders/6c/gmnjxh5x1hn48qy93ptqpz580000gn/T/ipykernel_83327/4245643224.py:1: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data/2023-citibike-tripdata/202312-citibike-tripdata/202312-citibike-tripdata_2.csv")

In [4]:
pwd

'/Users/jesper/Documents/AXA/DSC'

In [10]:
df.describe()

           start_lat      start_lng        end_lat        end_lng
count  999213.000000  999213.000000  996470.000000  996470.000000
mean       40.739804     -73.969966      40.739820     -73.970037
std         0.041410       0.029634       0.041261       0.029623
min        40.633385     -74.071061      40.633385     -74.071455
25%        40.714740     -73.991255      40.715143     -73.991600
50%        40.739323     -73.978716      40.739355     -73.979069
75%        40.763328     -73.953483      40.762699     -73.953149
max        40.886300     -73.849780      40.886300     -73.849780

In [90]:
df2 = pd.read_csv("data/Motor_Vehicle_Collisions_-_Crashes_20251117.csv")

/var/folders/6c/gmnjxh5x1hn48qy93ptqpz580000gn/T/ipykernel_83327/2202862074.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv("data/Motor_Vehicle_Collisions_-_Crashes_20251117.csv")

In [67]:
df2.isna().mean()

CRASH DATE                       0.000000
CRASH TIME                       0.000000
BOROUGH                          0.306384
ZIP CODE                         0.306508
LATITUDE                         0.108254
LONGITUDE                        0.108254
LOCATION                         0.108254
ON STREET NAME                   0.217811
CROSS STREET NAME                0.382118
OFF STREET NAME                  0.823792
NUMBER OF PERSONS INJURED        0.000008
NUMBER OF PERSONS KILLED         0.000014
NUMBER OF PEDESTRIANS INJURED    0.000000
NUMBER OF PEDESTRIANS KILLED     0.000000
NUMBER OF CYCLIST INJURED        0.000000
NUMBER OF CYCLIST KILLED         0.000000
NUMBER OF MOTORIST INJURED       0.000000
NUMBER OF MOTORIST KILLED        0.000000
CONTRIBUTING FACTOR VEHICLE 1    0.003531
CONTRIBUTING FACTOR VEHICLE 2    0.160535
CONTRIBUTING FACTOR VEHICLE 3    0.927642
CONTRIBUTING FACTOR VEHICLE 4    0.983480
CONTRIBUTING FACTOR VEHICLE 5    0.995475
COLLISION_ID                     0.000000
VEHICLE TYPE CODE 1              0.007275
VEHICLE TYPE CODE 2              0.200603
VEHICLE TYPE CODE 3              0.930451
VEHICLE TYPE CODE 4              0.984080
VEHICLE TYPE CODE 5              0.995618
dtype: float64

In [65]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2220334 entries, 0 to 2220333
Data columns (total 29 columns):
 #   Column                         Dtype
---  ------                         -----
 0   CRASH DATE                     object
 1   CRASH TIME                     object
 2   BOROUGH                        object
 3   ZIP CODE                       object
 4   LATITUDE                       float64
 5   LONGITUDE                      float64
 6   LOCATION                       object
 7   ON STREET NAME                 object
 8   CROSS STREET NAME              object
 9   OFF STREET NAME                object
 10  NUMBER OF PERSONS INJURED      float64
 11  NUMBER OF PERSONS KILLED       float64
 12  NUMBER OF PEDESTRIANS INJURED  int64
 13  NUMBER OF PEDESTRIANS KILLED   int64
 14  NUMBER OF CYCLIST INJURED      int64
 15  NUMBER OF CYCLIST KILLED       int64
 16  NUMBER OF MOTORIST INJURED     int64
 17  NUMBER OF MOTORIST KILLED      int64
 18  CONTRIBUTING FACTOR VEHICLE 1  object
 19  CONTRIBUTING FACTOR VEHICLE 2  object
 20  CONTRIBUTING FACTOR VEHICLE 3  object
 21  CONTRIBUTING FACTOR VEHICLE 4  object
 22  CONTRIBUTING FACTOR VEHICLE 5  object
 23  COLLISION_ID                   int64
 24  VEHICLE TYPE CODE 1            object
 25  VEHICLE TYPE CODE 2            object
 26  VEHICLE TYPE CODE 3            object
 27  VEHICLE TYPE CODE 4            object
 28  VEHICLE TYPE CODE 5            object
dtypes: float64(4), int64(7), object(18)
memory usage: 491.3+ MB

In [13]:
df2["date"] = pd.to_datetime(df2["CRASH DATE"], format="%m/%d/%Y")

In [14]:
df2.shape

(2220334, 30)

In [27]:
df2["VEHICLE TYPE CODE 5"].value_counts(dropna=False)

VEHICLE TYPE CODE 5
NaN                                    2210604
Sedan                                     3511
Station Wagon/Sport Utility Vehicle       2921
PASSENGER VEHICLE                         1487
SPORT UTILITY / STATION WAGON              802
                                        ...
Wagon                                        1
back                                         1
TRUCK                                        1
TRK                                          1
Pallet                                       1
Name: count, Length: 79, dtype: int64

In [29]:
df2.describe()

,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,COLLISION_ID,date
count,1.979975e+06,1.979975e+06,2.220316e+06,2.220303e+06,2.220334e+06,2.220334e+06,2.220334e+06,2.220334e+06,2.220334e+06,2.220334e+06,2.220334e+06,2220334
mean,4.059000e+01,-7.368355e+01,3.282632e-01,1.585369e-03,5.960500e-02,7.845666e-04,2.918930e-02,1.261072e-04,2.348255e-01,6.449480e-04,3.265669e+06,2018-01-13 06:20:16.130546688
min,0.000000e+00,-2.013600e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.200000e+01,2012-07-01 00:00:00
25%,4.066734e+01,-7.397453e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.191204e+06,2015-03-22 00:00:00
50%,4.072031e+01,-7.392673e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.746458e+06,2017-09-01 00:00:00
75%,4.076956e+01,-7.386657e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.301758e+06,2020-03-11 00:00:00
max,4.334444e+01,0.000000e+00,4.300000e+01,8.000000e+00,2.700000e+01,6.000000e+00,4.000000e+00,2.000000e+00,4.300000e+01,5.000000e+00,4.857143e+06,2025-11-11 00:00:00
std,2.332461e+00,4.335586e+00,7.149803e-01,4.206326e-02,2.500810e-01,2.863533e-02,1.706091e-01,1.126908e-02,6.761220e-01,2.777661e-02,1.509567e+06,NaN

In [30]:
df2.columns.tolist()

['CRASH DATE',
 'CRASH TIME',
 'BOROUGH',
 'ZIP CODE',
 'LATITUDE',
 'LONGITUDE',
 'LOCATION',
 'ON STREET NAME',
 'CROSS STREET NAME',
 'OFF STREET NAME',
 'NUMBER OF PERSONS INJURED',
 'NUMBER OF PERSONS KILLED',
 'NUMBER OF PEDESTRIANS INJURED',
 'NUMBER OF PEDESTRIANS KILLED',
 'NUMBER OF CYCLIST INJURED',
 'NUMBER OF CYCLIST KILLED',
 'NUMBER OF MOTORIST INJURED',
 'NUMBER OF MOTORIST KILLED',
 'CONTRIBUTING FACTOR VEHICLE 1',
 'CONTRIBUTING FACTOR VEHICLE 2',
 'CONTRIBUTING FACTOR VEHICLE 3',
 'CONTRIBUTING FACTOR VEHICLE 4',
 'CONTRIBUTING FACTOR VEHICLE 5',
 'COLLISION_ID',
 'VEHICLE TYPE CODE 1',
 'VEHICLE TYPE CODE 2',
 'VEHICLE TYPE CODE 3',
 'VEHICLE TYPE CODE 4',
 'VEHICLE TYPE CODE 5',
 'date']

In [31]:
duplicate_counts = df2["COLLISION_ID"].value_counts()
duplicate_counts = duplicate_counts[duplicate_counts > 1]
duplicate_counts

Series([], Name: count, dtype: int64)

In [32]:
duplicate_counts = df["ride_id"].value_counts()
duplicate_counts = duplicate_counts[duplicate_counts > 1]
duplicate_counts

Series([], Name: count, dtype: int64)

In [45]:
df.drop(columns=["start_station_id", "end_station_id"]).to_parquet("testing.parquet", engine="fastparquet", index=False)

In [47]:
df.drop(columns=["start_station_id", "end_station_id"]).shape

(1000000, 11)

In [48]:
df2.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,date
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN,2021-09-11
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN,2022-03-26
2,11/01/2023,1:29,BROOKLYN,11230.0,40.62179,-73.970024,"(40.62179, -73.970024)",OCEAN PARKWAY,AVENUE K,NaN,...,Unspecified,NaN,NaN,4675373,Moped,Sedan,Sedan,NaN,NaN,2023-11-01
3,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN,2022-06-29
4,09/21/2022,13:21,NaN,NaN,NaN,NaN,NaN,BROOKLYN BRIDGE,NaN,NaN,...,NaN,NaN,NaN,4566131,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN,2022-09-21

In [51]:
df2.groupby("BOROUGH")["LATITUDE"].sum()

BOROUGH
BRONX            8.995344e+06
BROOKLYN         1.957352e+07
MANHATTAN        1.345632e+07
QUEENS           1.639419e+07
STATEN ISLAND    2.542671e+06
Name: LATITUDE, dtype: float64

In [52]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2220334 entries, 0 to 2220333
Data columns (total 30 columns):
 #   Column                         Dtype
---  ------                         -----
 0   CRASH DATE                     object
 1   CRASH TIME                     object
 2   BOROUGH                        object
 3   ZIP CODE                       object
 4   LATITUDE                       float64
 5   LONGITUDE                      float64
 6   LOCATION                       object
 7   ON STREET NAME                 object
 8   CROSS STREET NAME              object
 9   OFF STREET NAME                object
 10  NUMBER OF PERSONS INJURED      float64
 11  NUMBER OF PERSONS KILLED       float64
 12  NUMBER OF PEDESTRIANS INJURED  int64
 13  NUMBER OF PEDESTRIANS KILLED   int64
 14  NUMBER OF CYCLIST INJURED      int64
 15  NUMBER OF CYCLIST KILLED       int64
 16  NUMBER OF MOTORIST INJURED     int64
 17  NUMBER OF MOTORIST KILLED      int64
 18  CONTRIBUTING FACTOR VEHICLE 1  object
 19  CONTRIBUTING FACTOR VEHICLE 2  object
 20  CONTRIBUTING FACTOR VEHICLE 3  object
 21  CONTRIBUTING FACTOR VEHICLE 4  object
 22  CONTRIBUTING FACTOR VEHICLE 5  object
 23  COLLISION_ID                   int64
 24  VEHICLE TYPE CODE 1            object
 25  VEHICLE TYPE CODE 2            object
 26  VEHICLE TYPE CODE 3            object
 27  VEHICLE TYPE CODE 4            object
 28  VEHICLE TYPE CODE 5            object
 29  date                           datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int64(7), object(18)
memory usage: 508.2+ MB

In [60]:
df2.columns

Index(['CRASH DATE', 'CRASH TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE',
       'LONGITUDE', 'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME',
       'OFF STREET NAME', 'NUMBER OF PERSONS INJURED',
       'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED',
       'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED',
       'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED',
       'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1',
       'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
       'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5',
       'COLLISION_ID', 'VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2',
       'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5'],
      dtype='object')

In [74]:
mask = df2["LATITUDE"].isna() & df2["LONGITUDE"].isna()
cols = [
    "BOROUGH",
    "ZIP CODE",
    "LOCATION",
    "ON STREET NAME",
    "CROSS STREET NAME",
    "OFF STREET NAME",
]
subset = df2.loc[mask, cols]
missing_summary = subset.isna().mean()
required_cols = ["ON STREET NAME", "CROSS STREET NAME", "BOROUGH"]
geo_candidate_mask = mask.copy()
for col in required_cols:
    geo_candidate_mask &= df2[col].notna()
total_missing = int(mask.sum())
geo_count = int(geo_candidate_mask.sum())
remaining_after_geo_mask = mask & ~geo_candidate_mask
remaining_after_geo = int(remaining_after_geo_mask.sum())
zip_candidate_mask = remaining_after_geo_mask & df2["ZIP CODE"].notna()
zip_count = int(zip_candidate_mask.sum())
remaining_after_zip_mask = remaining_after_geo_mask & ~zip_candidate_mask
remaining_after_zip = int(remaining_after_zip_mask.sum())
borough_candidate_mask = remaining_after_zip_mask & df2["BOROUGH"].notna()
borough_count = int(borough_candidate_mask.sum())
after_borough_mask = remaining_after_zip_mask & ~borough_candidate_mask
unfillable_count = int(after_borough_mask.sum())
pipeline_summary = pd.DataFrame(
    {
        "count": [geo_count, zip_count, borough_count, unfillable_count],
        "fraction": [
            geo_count / total_missing if total_missing else 0.0,
            zip_count / remaining_after_geo if remaining_after_geo else 0.0,
            borough_count / remaining_after_zip if remaining_after_zip else 0.0,
            unfillable_count / total_missing if total_missing else 0.0,
        ],
    },
    index=[
        "geoclient_candidates",
        "zip_candidates",
        "borough_candidates",
        "unfillable",
    ],
)
lat_missing_only = df2["LATITUDE"].isna() & df2["LONGITUDE"].notna()
lon_missing_only = df2["LONGITUDE"].isna() & df2["LATITUDE"].notna()
mismatched_summary = pd.DataFrame(
    {
        "count": [int(lat_missing_only.sum()), int(lon_missing_only.sum())],
        "fraction": [lat_missing_only.mean(), lon_missing_only.mean()],
    },
    index=["lat_missing_only", "lon_missing_only"],
)
missing_summary, pipeline_summary, mismatched_summary

(BOROUGH              0.842877
 ZIP CODE             0.842985
 LOCATION             1.000000
 ON STREET NAME       0.235656
 CROSS STREET NAME    0.402581
 OFF STREET NAME      0.890530
 dtype: float64,
                        count  fraction
 geoclient_candidates   30910  0.128599
 zip_candidates          6836  0.032638
 borough_candidates        20  0.000099
 unfillable            202593  0.842877,
                   count  fraction
 lat_missing_only      0       0.0
 lon_missing_only      0       0.0)

In [57]:
valid_coords = df2["LATITUDE"].notna() & df2["LONGITUDE"].notna()

strict_keys = ["BOROUGH", "ON STREET NAME", "CROSS STREET NAME"]
strict_medians = (
    df2.loc[valid_coords, strict_keys + ["LATITUDE", "LONGITUDE"]]
    .dropna(subset=strict_keys)
    .groupby(strict_keys)[["LATITUDE", "LONGITUDE"]]
    .median()
    .astype(float)
â€‹)
strict_index = pd.MultiIndex.from_arrays([df2[col] for col in strict_keys], names=strict_keys)
strict_fill = strict_medians.reindex(strict_index)
strict_lat = strict_fill["LATITUDE"]
strict_lon = strict_fill["LONGITUDE"]
strict_mask = (
    df2["LATITUDE"].isna()
    & df2["LONGITUDE"].isna()
    & strict_lat.notna()
    & strict_lon.notna()
â€‹)
df2.loc[strict_mask, "LATITUDE"] = strict_lat[strict_mask].to_numpy()
df2.loc[strict_mask, "LONGITUDE"] = strict_lon[strict_mask].to_numpy()

simple_keys = ["BOROUGH", "ON STREET NAME"]
simple_medians = (
    df2.loc[valid_coords, simple_keys + ["LATITUDE", "LONGITUDE"]]
    .dropna(subset=simple_keys)
    .groupby(simple_keys)[["LATITUDE", "LONGITUDE"]]
    .median()
    .astype(float)
â€‹)
simple_index = pd.MultiIndex.from_arrays([df2[col] for col in simple_keys], names=simple_keys)
simple_fill = simple_medians.reindex(simple_index)
simple_lat = simple_fill["LATITUDE"]
simple_lon = simple_fill["LONGITUDE"]
simple_mask = (
    df2["LATITUDE"].isna()
    & df2["LONGITUDE"].isna()
    & simple_lat.notna()
    & simple_lon.notna()
â€‹)
df2.loc[simple_mask, "LATITUDE"] = simple_lat[simple_mask].to_numpy()
df2.loc[simple_mask, "LONGITUDE"] = simple_lon[simple_mask].to_numpy()

zip_lat_median = df2.groupby("ZIP CODE")["LATITUDE"].transform("median")
zip_lon_median = df2.groupby("ZIP CODE")["LONGITUDE"].transform("median")
zip_mask = df2["LATITUDE"].isna() & df2["LONGITUDE"].isna() & df2["ZIP CODE"].notna()
df2.loc[zip_mask, "LATITUDE"] = zip_lat_median[zip_mask]
df2.loc[zip_mask, "LONGITUDE"] = zip_lon_median[zip_mask]

borough_lat_median = df2.groupby("BOROUGH")["LATITUDE"].transform("median")
borough_lon_median = df2.groupby("BOROUGH")["LONGITUDE"].transform("median")
borough_mask = df2["LATITUDE"].isna() & df2["LONGITUDE"].isna() & df2["BOROUGH"].notna()
df2.loc[borough_mask, "LATITUDE"] = borough_lat_median[borough_mask]
df2.loc[borough_mask, "LONGITUDE"] = borough_lon_median[borough_mask]

In [81]:
df2.head().iloc[0:5, :]

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,11/01/2023,1:29,BROOKLYN,11230.0,40.62179,-73.970024,"(40.62179, -73.970024)",OCEAN PARKWAY,AVENUE K,NaN,...,Unspecified,Unspecified,NaN,NaN,4675373,Moped,Sedan,Sedan,NaN,NaN
3,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
4,09/21/2022,13:21,NaN,NaN,NaN,NaN,NaN,BROOKLYN BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4566131,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN

In [ ]:
valid_coords = df2["LATITUDE"].notna() & df2["LONGITUDE"].notna()

# 1) Fill using BOROUGH + ON STREET + CROSS STREET medians
street_group = ["BOROUGH", "ON STREET NAME", "CROSS STREET NAME"]
street_medians = (
    df2.loc[valid_coords, street_group + ["LATITUDE", "LONGITUDE"]]
    .dropna(subset=street_group)
    .groupby(street_group)[["LATITUDE", "LONGITUDE"]]
    .median()
)
street_keys = pd.Series(
    list(zip(df2["BOROUGH"], df2["ON STREET NAME"], df2["CROSS STREET NAME"])),
    index=df2.index,
 )
street_lat_lookup = street_medians["LATITUDE"].to_dict()
street_lon_lookup = street_medians["LONGITUDE"].to_dict()
street_lat_fill = street_keys.map(street_lat_lookup)
street_lon_fill = street_keys.map(street_lon_lookup)
street_has_all = df2[street_group].notna().all(axis=1)
street_mask = (
    df2["LATITUDE"].isna()
    & df2["LONGITUDE"].isna()
    & street_has_all
    & street_lat_fill.notna()
    & street_lon_fill.notna()
 )
df2.loc[street_mask, "LATITUDE"] = street_lat_fill[street_mask].to_numpy()
df2.loc[street_mask, "LONGITUDE"] = street_lon_fill[street_mask].to_numpy()

# 2) Fill using BOROUGH + ON STREET medians
on_street_group = ["BOROUGH", "ON STREET NAME"]
on_street_medians = (
    df2.loc[valid_coords, on_street_group + ["LATITUDE", "LONGITUDE"]]
    .dropna(subset=on_street_group)
    .groupby(on_street_group)[["LATITUDE", "LONGITUDE"]]
    .median()
)
on_street_keys = pd.Series(
    list(zip(df2["BOROUGH"], df2["ON STREET NAME"])),
    index=df2.index,
 )
on_lat_lookup = on_street_medians["LATITUDE"].to_dict()
on_lon_lookup = on_street_medians["LONGITUDE"].to_dict()
on_lat_fill = on_street_keys.map(on_lat_lookup)
on_lon_fill = on_street_keys.map(on_lon_lookup)
on_street_mask = (
    df2["LATITUDE"].isna()
    & df2["LONGITUDE"].isna()
    & df2[on_street_group].notna().all(axis=1)
    & on_lat_fill.notna()
    & on_lon_fill.notna()
 )
df2.loc[on_street_mask, "LATITUDE"] = on_lat_fill[on_street_mask].to_numpy()
df2.loc[on_street_mask, "LONGITUDE"] = on_lon_fill[on_street_mask].to_numpy()

# 3) Fill using ZIP-level medians
zip_lat_median = df2.groupby("ZIP CODE")["LATITUDE"].transform("median")
zip_lon_median = df2.groupby("ZIP CODE")["LONGITUDE"].transform("median")
zip_mask = df2["LATITUDE"].isna() & df2["LONGITUDE"].isna() & df2["ZIP CODE"].notna()
df2.loc[zip_mask, "LATITUDE"] = zip_lat_median[zip_mask]
df2.loc[zip_mask, "LONGITUDE"] = zip_lon_median[zip_mask]

# 4) Fill remaining gaps with borough medians
borough_lat_median = df2.groupby("BOROUGH")["LATITUDE"].transform("median")
borough_lon_median = df2.groupby("BOROUGH")["LONGITUDE"].transform("median")
borough_mask = df2["LATITUDE"].isna() & df2["LONGITUDE"].isna() & df2["BOROUGH"].notna()
df2.loc[borough_mask, "LATITUDE"] = borough_lat_median[borough_mask]
df2.loc[borough_mask, "LONGITUDE"] = borough_lon_median[borough_mask]

In [94]:
df2.groupby("ZIP CODE")["LATITUDE"].median()

ZIP CODE
10000.0    40.775090
10001.0    40.749794
10002.0    40.718468
10003.0    40.733034
10004.0    40.704950
             ...
11692      40.592445
11693      40.588966
11694      40.580793
11695      40.562128
11697      40.560757
Name: LATITUDE, Length: 433, dtype: float64

In [95]:
df2.dtypes

CRASH DATE                        object
CRASH TIME                        object
BOROUGH                           object
ZIP CODE                          object
LATITUDE                         float64
LONGITUDE                        float64
LOCATION                          object
ON STREET NAME                    object
CROSS STREET NAME                 object
OFF STREET NAME                   object
NUMBER OF PERSONS INJURED        float64
NUMBER OF PERSONS KILLED         float64
NUMBER OF PEDESTRIANS INJURED      int64
NUMBER OF PEDESTRIANS KILLED       int64
NUMBER OF CYCLIST INJURED          int64
NUMBER OF CYCLIST KILLED           int64
NUMBER OF MOTORIST INJURED         int64
NUMBER OF MOTORIST KILLED          int64
CONTRIBUTING FACTOR VEHICLE 1     object
CONTRIBUTING FACTOR VEHICLE 2     object
CONTRIBUTING FACTOR VEHICLE 3     object
CONTRIBUTING FACTOR VEHICLE 4     object
CONTRIBUTING FACTOR VEHICLE 5     object
COLLISION_ID                       int64
VEHICLE TYPE CODE 1               object
VEHICLE TYPE CODE 2               object
VEHICLE TYPE CODE 3               object
VEHICLE TYPE CODE 4               object
VEHICLE TYPE CODE 5               object
dtype: object

In [99]:
df2["zip"] = pd.to_numeric(df2['ZIP CODE'], errors='coerce').astype('Int64')

In [100]:
df2["BOROUGH"].value_counts()

BOROUGH
BROOKLYN         493564
QUEENS           412674
MANHATTAN        341294
BRONX            228048
STATEN ISLAND     64479
Name: count, dtype: int64

In [104]:
df2["ON STREET NAME"].str.lower().unique()

array(['whitestone expressway', 'queensboro bridge upper',
       'ocean parkway', ..., 'east figurea avenue', 'zebra place',
       'beach 14 street'], shape=(19900,), dtype=object)